<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/sicmundu/silly-tracker/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>u0KqqxDl1e58t0jEl1ww0TagCrYS21SCFMqFcD+3+hs=</string>
</dict>
</plist>
